{% extends "inicio.html" %}
{% load bootstrap5 %}
{% block principal %}

  <h1 class="text-body-emphasis">Fale conosco</h1>
  <p>
        Envie uma mensagem através do forms ou ligue para o telefone
        {{telefone}} e fale com a {{responsavel|upper}}
  </p>
  {% if sucesso %}
    <p class="alert alert-success"> Mensagem enviada com sucesso </p>
  {% else %}

    <form action="" method="POST" id="form" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
    </form>
  {% endif %}
{% endblock %}